<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.guest.mapper.mybatis.GuestMapper">
	
	<insert id="insertMessage">
		insert into
	</insert>
	
	<select id="selectList">
		select * from
	</select>
	
	<delete id="deleteMessage">
		delete from
	</delete>
</mapper>